
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2611556d37e06042c2115ce91d6f009a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
